[submodule "Enhanced-Ruby-Mode"]
	path = Enhanced-Ruby-Mode
	url = https://github.com/jacott/Enhanced-Ruby-Mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "color-theme"]
	path = color-theme
	url = https://github.com/my8bird/emacs-color-theme.git
[submodule "cucumber.el"]
	path = cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs_chrome"]
	path = emacs_chrome
	url = https://github.com/stsquad/emacs_chrome.git
[submodule "eproject"]
	path = eproject
	url = https://github.com/jrockway/eproject.git
[submodule "frame-cmds"]
	path = frame-cmds
	url = https://github.com/emacsmirror/frame-cmds.git
[submodule "frame-fns"]
	path = frame-fns
	url = https://github.com/emacsmirror/frame-fns.git
[submodule "gist.el"]
	path = gist.el
	url = https://github.com/defunkt/gist.el.git
[submodule "gh.el"]
	path = gh.el
	url = https://github.com/sigma/gh.el.git
[submodule "pcache"]
	path = pcache
	url = https://github.com/sigma/pcache.git
[submodule "logito"]
	path = logito
	url = https://github.com/sigma/logito.git
[submodule "tabulated-list.el"]
	path = tabulated-list.el
	url = https://github.com/sigma/tabulated-list.el.git
